a {
    /* This is a single-line comment */
    
	/* text-align: center; */

	/* This is
	a multi-line
	comment */
	
	/* 
	color: #ffffff;
	font-size: 150%; 
	*/
	
	/* color: #ffffff;
	font-size: 150%; */
}